<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Results</title>
</head>

<body>
  <h1>Highest Scores</h1>
  <ul>
  
    <li>93 was the highest score for test 1</li>
  
    <li>89 was the highest score for test 2</li>
  
    <li>90 was the highest score for test 3</li>
  
  </ul>

  <h1>Lowest Scores</h1>
  <ul>
  
    <li>68 was the lowest score for test 1</li>
  
    <li>55 was the lowest score for test 2</li>
  
    <li>68 was the lowest score for test 3</li>
  
  </ul>

  <h1>Average Scores</h1>
  <ul>
  
    <li>81.25 was the lowest score for test 1</li>
  
    <li>76.75 was the lowest score for test 2</li>
  
    <li>80.75 was the lowest score for test 3</li>
  
  </ul>
  
  
</body>
</html>